*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
  }

.nav{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 60px;
    background-color: rgb(255, 200, 0);
    /* display: flex;
    justify-content: flex-start;
    gap: 10px; */
}

.nav h2{
    padding: 12px;
}

.button{
    float: right;
    padding: 20px;
    width: 100vw;
}

.button button{
    float: right;
    width:100px;
    height: 30px;
    border-radius: 6px;
    border: transparent;
    background-color: orange;
    cursor: pointer;
    transition: all;
    transition-duration: 0.6s;
}

.button button:hover{
    /* background-color: rgb(255, 234, 0);
    border: 1px solid black; */
    scale: 0.9;
}

.add{
    position: fixed;
    top: 10px;
    right: 15px;
}

.notes{
    /* border: 1px solid black; */
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100vw;
    padding-left: 10px;
   padding-bottom: 80px;
   /* justify-content: space-evenly; */
}

.note1{
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.buttons button{
    width:50px;
    height: 30px;
    cursor: pointer;
}
#box-id{
    width: 40%;
    float: left;
}
#box-id p{
    font-weight: bolder;
    /* font-size: 14px */
}
#but{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
/* .edit{
    background-color: lightgreen;
    border: transparent;
    border-radius: 5px;
}
.edit:hover{
    border: 1px solid black;
} */
.delete{
    background-color: white;
    color:red;
    border: transparent;
    border-radius: 5px;
    font-size: 18px;
    transition: all;
    transition-duration: 0.2s;
}
.delete:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    scale: 0.85;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.text textarea{
    width: 100%;
    border: transparent;
    font-family: 'Times New Roman';
    padding-left: 8px;
    font-size: medium;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.footer p{
    color: white;
    font-size: 15px;
}

.footer div{
    display: flex;
    gap: 20px;
}
.icons{
    color: white;
    cursor: pointer;
}

.icons:hover{
    color: gray;
}
@media screen and (max-width:995px) {
    #box-id p{
        font-size: 14px;
    }
}
@media screen and (max-width:895px) {
    #box-id{
        width: 50%;
    }
}
@media screen and (max-width:800px) {
    .note1{
        width: 45%;
    }
}
@media screen and (max-width:600px) {
    .note1{
        width: 75%;
    }
    .notes{
        justify-content: center;
    }
    .footer p{
        font-size: 14px;
    }
}

@media screen and (max-width:400px) {
    .note1{
        width: 85%;
    }
}